@inherits System.Web.Mvc.WebViewPage

@{
    ViewBag.Title = "Post Detail Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var activity = ViewBag.Activity as Ahead.Common.ViewModeForumActivityDetail[];
    var propose = ViewBag.ProposeAndMark as Ahead.Common.ViewModeForumActivityDetail[];
    var count = (int)ViewBag.Count;
}



<div class="container-fluid">

    @if (count == 0)
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-file"></i>
                        </span>
                        <h5>Recent Posts</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <ul class="recent-posts"></ul>

                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-file"></i>
                        </span>
                        <h5>Recent Posts</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <ul class="recent-posts">
                            @foreach (var act in activity)
                            {
                                <li>
                                    <div> </div>
                                    <div class="article-post">
                                        <div class="fr"><a href="/Review/Detail?ID=@act.ActivityID" class="btn btn-primary btn-mini" style="background-color:green;">Go Reviewed Page</a></div>
                                        <span class="user-info"> By: @act.Alias /Date: @act.SubmitTime </span>
                                        <p style="background-color:azure;">@Html.Raw(act.Comment)</p>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class="icon-file"></i>
                        </span>
                        <h5>Recent Propose And Mark</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <ul class="recent-posts">
                            @foreach (var act in propose)
                            {
                                <li>
                                    <div> </div>
                                    <div class="article-post">
                                        <div class="fr"><a href="/Review/Detail?ID=@act.ActivityID" class="btn btn-primary btn-mini" style="background-color:green;">Go Reviewed Page</a></div>
                                        <span class="user-info"> By: @act.Alias /Date: @act.SubmitTime </span>
                                        <p style="background-color:azure;">@Html.Raw(act.Comment)</p>
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    }
</div>